body{
    background-color: rgb(253, 255, 201);
}
#body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#heading{
    h2{ 
        font-size: 2em;
        color: rgb(39, 135, 135);
        cursor: pointer;
    }
}
#searchbar{
    border-radius: 10px;
    background-color: rgb(180, 254, 223);
    height: 15vh;
    display: flex;
    #search{
        width: 15%;
        height: 5vh;
        top: 5vh;
        left: 4vw;
        position: relative;
        border: none;
        border-radius: 5px;
    }
    #drop{
        width: 20%;
        top: 5vh;
        height: 5vh;
        left: 6vw;
        position: relative;
        #category{
            width: 100%;
            height: 100%;
            border: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            &:focus{
                outline: none;
            }
        }
        #drop-down{
            z-index: 2;
            position: relative;
            background-color: rgb(233, 255, 38);
            width: 101%;
            .items{
                height: 4vh;
                line-height: 4vh;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background-color: rgb(123, 123, 123);
                }
            }
        }
    }
    #number{
        width: 20%;
        height: 5vh;
        top: 5vh;
        left: 8vw;
        position: relative;
        border: none;
        border-radius: 5px;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
#main::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none;
  }
  body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
#main{
    overflow-y: scroll;
    height: 70vh;
    margin-top: 5vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    .card{
        height: 28vh;
        background-color: white;
        margin-bottom: 5vh;
        border-radius: 10px;
        display: flex;
        overflow: hidden;
        img{
            height: 80%;
            position: relative;
            top: 10%;
            left: 1vw;
            margin-right: 2vw;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
        .card-content{
            background-color: aquamarine;
            width: 87%;
            padding: 2%;
            >div{
                display: flex;
                justify-content: space-between;
                padding-top: 1%;
                button{
                    background-color: red;
                    color: white;
                    font-size: 1.2em;
                    font-weight: 600;
                    border: none;
                    padding: 0.6%;
                    width: 7%;
                    border-radius: 5px;
                    cursor: pointer;
                }
                div{

                }
            }
        }
    }
}
#quiz{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    .box{
        background-color: aquamarine;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    #result{
        display: none;
    }
    #timer{
        position: fixed;
        top:0;
        z-index: 3;
        right: 100px;
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }
}
#submit{
    background-color: rgb(138, 214, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
    &:hover{
        background-color: greenyellow;
        color: black;
    }
}
#quit{
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    &:hover{
        color: white;
    }
}